/* Header */
.header {
    position: fixed;
    top: 0;
    padding: 0 2rem;
    width: 100%;
    font-size: 22px;
    z-index: 200;
    font-weight: 400;
}

.logo {
    padding: 10px;
}

/* Title */
.title {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}

/* Navbar */
.navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Menu */
.menu {
    display: flex;
}

.menu li {
    margin: 15px;
    cursor: pointer;
}

.menu li a {
    font-weight: 500;
    position: relative;
    color: grey;
    transition: color 0.3s ease;
    text-decoration: none;
}

.menu li a:hover {
    color: white;
}

.scroller {
    position: absolute;
    top: 0;
    left: -28px;
    bottom: 0;
    right: -28px;
    background-color: rgba(19, 19, 19, .15);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: -1;
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {

    .header,
    .progress {
        padding: 0 0.5rem;
    }

    .menu {
        font-size: medium;
    }

    .menu li {
        margin: 8px;
    }
}