.tabs {
    font-family: arial;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin-top: 15vh;
}

.tabButtons {
    margin-bottom: 50px;
}

.tabContent {}

.active {
    /* border-bottom: 2px solid #42b3f4; */
    /* border: 2px solid rgba(255, 255, 255, 1); */
    color: #ffca39;

    &:hover {
        color: #ffca39;
    }
}

.icon {
    font-size: 3px;
}