.tabs {
    font-family: arial;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin-top: 15vh;
}

.tabButtons {
    margin-bottom: 50px;
}

.tabContent {}

.button {
    font-size: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.4);
    transition: all ease-in-out .2s;
    /* border-bottom: 2px solid transparent; */

}

.active {
    /* border-bottom: 2px solid #42b3f4; */
    border: 2px solid rgba(255, 255, 255, 1);
    color: #ffffff;
}