.root {
    height: 100vh;
    overflow: hidden;
    margin-bottom: 0;
}

.contact {
    /* justify-content: center;
    align-items: center; */
    height: calc(100vh - 80px);
    margin-top: 100px;
    overflow: hidden;
}

.canvas {
    height: 100%;
}

.canvas::after {
    content: '';
    position: absolute;
    /* top: 0;
    left: 0; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-image: url('/models/view.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    pointer-events: none;
    opacity: 0.3;
}