/* header.module.css */
.header {
    font-size: 2em;
}

/* videos.module.css */
.videos {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
}

/* videoTitle.module.css */
.videoTitle {
    font-size: 1.4em;
    margin: 0.4em 0 0;
}

/* video.module.css */
.video {
    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;
}

/* video.module.css - img within .video */
.video img {
    position: relative;
    z-index: 1;
}

/* video.module.css - video within .video */
.video video {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: auto;
}

/* video.module.css - :hover for .video */
.video:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 0 145px -49px rgba(255, 255, 255, 0.62);
    -webkit-box-shadow: 0 0 145px -49px rgba(255, 255, 255, 0.62);
    -moz-box-shadow: 0 0 145px -49px rgba(255, 255, 255, 0.62);
}

/* video.module.css - :hover for .video - img within .video */
.video:hover img {
    opacity: 0;
}

/* video.module.css - :hover for .video - video within .video */
.video:hover video {
    z-index: 2;
    opacity: 1;
}

/* video-autoplay-suspended.module.css */
.video-autoplay-suspended {
    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;
}

/* video-autoplay-suspended.module.css - img within .video-autoplay-suspended */
.video-autoplay-suspended img {
    position: relative;
    z-index: 1;
}

/* video-autoplay-suspended.module.css - video within .video-autoplay-suspended */
.video-autoplay-suspended video {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: auto;
}

/* video-autoplay-suspended.module.css - :hover for .video-autoplay-suspended */
.video-autoplay-suspended:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 0 145px -49px rgba(255, 255, 255, 0.62);
    -webkit-box-shadow: 0 0 145px -49px rgba(255, 255, 255, 0.62);
    -moz-box-shadow: 0 0 145px -49px rgba(255, 255, 255, 0.62);
}

/* video-autoplay-suspended.module.css - :hover for .video-autoplay-suspended - img within .video-autoplay-suspended */
.video-autoplay-suspended:hover img {
    opacity: 1;
}

/* video-autoplay-suspended.module.css - :hover for .video-autoplay-suspended - video within .video-autoplay-suspended */
.video-autoplay-suspended:hover video {
    z-index: 2;
    opacity: 0;
}